# BAX 452 Assignment 4
### Group 10: Yi Yin (Ian) Chen/Priyanka Malhotra/Sushma Niveni Pindiga

### Exploratory Data Analysis (EDA) (20 pts):
### Conduct a thorough exploration of the provided datasets. This includes understanding the structure, identifying missing values, and summarizing key statistics. Generate visualizations to understand the distribution of important variables, relationships between different variables, and any other patterns or anomalies in the data such as peculiar patterns or outliers.

In [2]:
## Import necessary packages
import pandas as pd
import py7zr
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from sklearn.linear_model import LassoCV
from sklearn.linear_model import LogisticRegressionCV
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

In [3]:
## Import the two datasets and merge
# Path to your .7z file
file_path = 'longyear-obese-hypertensive-40-57-medical-SMALL-sample.7z'
# Open the .7z file
with py7zr.SevenZipFile(file_path, mode='r') as z:
    all_files = z.getnames()
    # Assuming there's only one CSV file in the .7z archive
    csv_file_name = all_files[0]
    # Extract the CSV file to memory
    csv_file_dict = z.read([csv_file_name])
    csv_file = csv_file_dict[csv_file_name]

# Load the CSV data into a pandas DataFrame
raw_df = pd.read_csv(csv_file)

# Now you can work with the DataFrame `df` as usual
file_path = 'longyear-obese-hypertensive-40-75-scripts-SMALL-sample.7z'
# Open the .7z file
with py7zr.SevenZipFile(file_path, mode='r') as z:
    all_files = z.getnames()
    # Assuming there's only one CSV file in the .7z archive
    csv_file_name = all_files[0]
    # Extract the CSV file to memory
    csv_file_dict = z.read([csv_file_name])
    csv_file = csv_file_dict[csv_file_name]

# Load the CSV data into a pandas DataFrame
raw_df2 = pd.read_csv(csv_file)

/var/folders/9_/v2c7033x6k1b1rzd02qw1x280000gn/T/ipykernel_9296/1667547875.py:28: DtypeWarning: Columns (9,10,29,43) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df2 = pd.read_csv(csv_file)

In [5]:
# Analyze columns
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623525 entries, 0 to 623524
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   journey_id         623525 non-null  object
 1   episode_id         623525 non-null  object
 2   visit_id           621650 non-null  object
 3   encounter_id       623525 non-null  object
 4   claim_date         623525 non-null  object
 5   patient_state      623525 non-null  object
 6   patient_short_zip  623512 non-null  float64
 7   patient_age        616980 non-null  float64
 8   patient_gender     623393 non-null  object
 9   place_of_service   484555 non-null  object
 10  visit_type         600454 non-null  object
 11  payor              608936 non-null  object
 12  payor_channel      586086 non-null  object
 13  ref_npi            297501 non-null  float64
 14  hcp_npi            434653 non-null  float64
 15  hcp_taxonomy       428209 non-null  object
 16  hcp_specialty      428229 non-null  object
 17  hco_npi            617789 non-null  float64
 18  hcp_npi_list       434653 non-null  object
 19  hco_npi_list       617789 non-null  object
 20  diag_list          622655 non-null  object
 21  diag_1             622655 non-null  object
 22  diag_2             460595 non-null  object
 23  diag_3             365284 non-null  object
 24  diag_4             298233 non-null  object
 25  diag_5             205016 non-null  object
 26  rev_center_code    113926 non-null  float64
 27  rev_center_units   621558 non-null  float64
 28  proc_code          599612 non-null  object
 29  proc_modifier      165948 non-null  object
 30  proc_units         621331 non-null  float64
 31  line_charge        623525 non-null  float64
 32  claim_charge       623525 non-null  float64
 33  smart_allowed      623525 non-null  float64
dtypes: float64(11), object(23)
memory usage: 161.7+ MB

In [6]:
raw_df.head()

,journey_id,episode_id,visit_id,encounter_id,claim_date,patient_state,patient_short_zip,patient_age,patient_gender,place_of_service,...,diag_4,diag_5,rev_center_code,rev_center_units,proc_code,proc_modifier,proc_units,line_charge,claim_charge,smart_allowed
0,00006390c96ebfffed580074c35a16a7,d5e15811af1d772f54af52f3560be0a5,f22b7ab885c44afae5449d74f8498f53aea1b2cfa79598...,d5a7dc61071d977cef9ff762973d360f4bcf15a19790d9...,2020-07-13,CA,922.0,55.0,M,Home,...,NaN,NaN,NaN,1.0,A6549,NU,2.0,300.00,300.00,974.13
1,00006390c96ebfffed580074c35a16a7,d5e15811af1d772f54af52f3560be0a5,f22b7ab885c44afae5449d74f8498f53aea1b2cfa79598...,d5a7dc61071d977cef9ff762973d360f4bcf15a19790d9...,2020-07-13,CA,922.0,55.0,M,Home,...,NaN,NaN,NaN,1.0,A6549,NU,2.0,300.00,300.00,974.13
2,00006390c96ebfffed580074c35a16a7,e25e5285e4f66d35c9840bf4e040fe73,3f45ba8ebef02b0c09b09e864e57ba5ee9d6bc9acf1c39...,c60da949b58f0351c8781c062f65d92bce76d9532d1632...,2023-07-19,CA,922.0,60.0,M,Office,...,L03115,L03116,NaN,1.0,3074F,NaN,1.0,0.00,0.00,46.57
3,00006390c96ebfffed580074c35a16a7,e25e5285e4f66d35c9840bf4e040fe73,3f45ba8ebef02b0c09b09e864e57ba5ee9d6bc9acf1c39...,c60da949b58f0351c8781c062f65d92bce76d9532d1632...,2023-07-19,CA,922.0,60.0,M,Office,...,L03115,L03116,NaN,1.0,3078F,NaN,1.0,0.00,0.00,56.38
4,00006d564a4718c744f1bbf1b6c5f8c3,42ba4419d9ad7c9293d76686fb608f10,9e4534892128401c693a6ab2ea758cd6a0a6484972168b...,da5cef18317c14180ed561a84001d8a033d724d541a2c0...,2023-08-11,CA,900.0,55.0,F,Independent Laboratory,...,NaN,NaN,NaN,1.0,80053,NaN,1.0,88.07,88.07,15.16

In [8]:
raw_df.describe()

,patient_short_zip,patient_age,ref_npi,hcp_npi,hco_npi,rev_center_code,rev_center_units,proc_units,line_charge,claim_charge,smart_allowed
count,623512.000000,616980.000000,2.975010e+05,4.346530e+05,6.177890e+05,113926.000000,621558.000000,621331.000000,623525.000000,623525.000000,623525.000000
mean,907.514954,59.416910,1.502083e+09,1.508734e+09,1.485095e+09,456.083449,1.243236,4.319060,482.437268,482.437268,190.295642
std,40.034735,9.946158,2.868359e+08,2.825083e+08,2.859965e+08,451.591644,2.458118,55.208116,3582.592825,3582.592825,509.339625
min,74.000000,30.000000,1.003001e+09,1.003001e+09,1.003006e+09,1.000000,-14.000000,0.000000,0.000000,0.000000,0.000000
25%,900.000000,55.000000,1.255437e+09,1.265668e+09,1.245340e+09,301.000000,1.000000,1.000000,10.000000,10.000000,18.190000
50%,911.000000,60.000000,1.508952e+09,1.528016e+09,1.467631e+09,320.000000,1.000000,1.000000,70.000000,70.000000,75.230000
75%,922.000000,65.000000,1.740350e+09,1.740376e+09,1.720295e+09,521.000000,1.000000,1.000000,200.000000,200.000000,182.360000
max,999.000000,80.000000,1.992999e+09,1.993000e+09,1.992995e+09,3103.000000,730.000000,12473.000000,778750.000000,778750.000000,45035.960000

In [10]:
min(raw_df['claim_date'])

'2019-01-05'

In [11]:
max(raw_df['claim_date'])

'2023-09-27'

In [13]:
duplicate_counts = raw_df.duplicated(subset='journey_id', keep=False).sum()
print(duplicate_counts)

621110

In [14]:
duplicate_counts = raw_df2.duplicated(subset='journey_id', keep=False).sum()
print(duplicate_counts)

893567

In [7]:
raw_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894623 entries, 0 to 894622
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   journey_id                     894623 non-null  object
 1   cohort_id                      894623 non-null  int64
 2   claim_id                       894623 non-null  object
 3   patient_gender                 894623 non-null  object
 4   patient_state                  894623 non-null  object
 5   patient_zip                    894501 non-null  float64
 6   patient_dob                    894619 non-null  object
 7   pharmacy_npi                   839958 non-null  float64
 8   pharmacist_npi                 21578 non-null   float64
 9   prescriber_npi                 891155 non-null  object
 10  primary_care_npi               3569 non-null    object
 11  group_id                       273621 non-null  object
 12  date_of_service                894623 non-null  object
 13  date_authorized                784676 non-null  object
 14  transaction_type               894623 non-null  object
 15  date_prescription_written      894623 non-null  object
 16  ndc11                          894623 non-null  int64
 17  ndc11_original                 94203 non-null   float64
 18  number_of_refills_authorized   849519 non-null  float64
 19  diagnosis_code                 174705 non-null  object
 20  diagnosis_code_type            111634 non-null  float64
 21  quantity_prescribed_original   322348 non-null  float64
 22  quantity_dispensed             894616 non-null  float64
 23  place_of_service               346197 non-null  float64
 24  is_service                     678323 non-null  object
 25  level_of_service               217951 non-null  float64
 26  fill_number                    894623 non-null  float64
 27  days_supply                    894623 non-null  float64
 28  unit_of_measure                594590 non-null  object
 29  daw_code                       192144 non-null  object
 30  prior_authorization_type_code  8916 non-null    float64
 31  is_compound_drug               784594 non-null  object
 32  coupon_type                    2030 non-null    float64
 33  coupon_value_amount            5 non-null       float64
 34  pharmacy_submitted_cost        785081 non-null  float64
 35  patient_pay                    601820 non-null  float64
 36  copay_coinsurance              411383 non-null  float64
 37  pcn                            775703 non-null  object
 38  bin                            786240 non-null  float64
 39  plan_pay                       491878 non-null  float64
 40  reject_code_1                  187279 non-null  object
 41  reject_code_3                  41252 non-null   object
 42  reject_code_4                  7408 non-null    object
 43  reject_code_5                  1524 non-null    object
 44  ndc                            894623 non-null  int64
 45  active                         894623 non-null  bool
 46  start_date                     894623 non-null  int64
 47  end_date                       32448 non-null   float64
dtypes: bool(1), float64(21), int64(4), object(22)
memory usage: 321.6+ MB

In [7]:
raw_df2.head()

,journey_id,cohort_id,claim_id,patient_gender,patient_state,patient_zip,patient_dob,pharmacy_npi,pharmacist_npi,prescriber_npi,...,bin,plan_pay,reject_code_1,reject_code_3,reject_code_4,reject_code_5,ndc,active,start_date,end_date
0,00006390c96ebfffed580074c35a16a7,16,60618bd8d37311da702bf9349e76f8c26d515c082e136f...,M,CA,922.0,1961-01-01,1.215361e+09,NaN,1750479168,...,22659.0,NaN,NaN,NaN,NaN,NaN,47335067381,True,190001,NaN
1,00006390c96ebfffed580074c35a16a7,16,dbeb47defd161331e43f4e359e8d43e4ef7546ff58359b...,M,CA,922.0,1961-01-01,1.215361e+09,NaN,1750479168,...,22659.0,NaN,NaN,NaN,NaN,NaN,47335067381,True,190001,NaN
2,00006390c96ebfffed580074c35a16a7,16,02927d081fad10afffcba79bad27f94ff52c98e968aaec...,M,CA,922.0,1961-01-01,1.215361e+09,NaN,1750479168,...,22659.0,NaN,NaN,NaN,NaN,NaN,47335067381,True,190001,NaN
3,00006390c96ebfffed580074c35a16a7,16,a412c986e2503a5140ed1482e88b5ec50feeedaf2d89ec...,M,CA,922.0,1961-01-01,1.215361e+09,NaN,1750479168,...,22659.0,NaN,NaN,NaN,NaN,NaN,47335067381,True,190001,NaN
4,00006390c96ebfffed580074c35a16a7,16,b65634edd78998753fe9606b142b2fff7765d6c576973c...,M,CA,922.0,1961-01-01,1.215361e+09,NaN,1750479168,...,22659.0,NaN,NaN,NaN,NaN,NaN,65862059805,True,190001,NaN

In [9]:
# 1. Select 'diag_' columns
diag_columns = [col for col in raw_df.columns if col.startswith('diag_')]
df_diag = raw_df[diag_columns]

# 2. Combine values 
combined_list = df_diag.values.flatten().tolist()
combined_list = [x for x in combined_list if pd.notna(x)]

# 3. Process first three digits (same as before)
first_three_counts = {}
for diag_code in combined_list:
    first_three = diag_code[:3]
    first_three_counts[first_three] = first_three_counts.get(first_three, 0) + 1

In [10]:
import operator
# Sort the dictionary items by count (descending order)
sorted_counts = sorted(first_three_counts.items(), key=operator.itemgetter(1), reverse=True)

for items in sorted_counts:
    print(items)

('E11', 233629)
('I10', 199537)
('E78', 113939)
('Z00', 95083)
('E66', 69689)
('Z68', 54013)
('M25', 51750)
('M54', 50447)
('Z12', 32396)
('N18', 31950)
('Z01', 30622)
('Z13', 29844)
('M79', 29497)
('G47', 28339)
('R10', 27659)
('Z79', 27149)
('E55', 27085)
('Z71', 26523)
('R07', 25175)
('E03', 24910)
('R73', 24776)
('N39', 22340)
('M17', 21592)
('D64', 19973)
('I25', 17483)
('Z20', 16871)
('R53', 16402)
('I50', 15359)
('R06', 15340)
('J44', 14592)
('F41', 13833)
('Z23', 13598)
('I48', 12605)
('K21', 12366)
('G89', 11753)
('Z11', 11720)
('I11', 11344)
('F33', 10927)
('N40', 10720)
('J45', 10699)
('E87', 10668)
('M19', 10218)
('U07', 10043)
('M47', 9806)
('R68', 9479)
('A41', 9416)
('D50', 9387)
('J96', 9330)
('R05', 9106)
('M51', 8942)
('F32', 8895)
('I12', 8183)
('L03', 7899)
('B35', 7878)
('R79', 7617)
('Z51', 7527)
('R51', 7323)
('K76', 7175)
('Z76', 7142)
('R42', 7133)
('N17', 7130)
('H25', 7047)
('L97', 7010)
('M48', 6829)
('M62', 6795)
('R00', 6751)
('F17', 6672)
('C50', 6663)
('R94', 6418)
('I70', 6262)
('Z86', 6222)
('M99', 5917)
('R19', 5885)
('J30', 5826)
('K57', 5809)
('R26', 5682)
('R60', 5627)
('K29', 5504)
('R11', 5477)
('R35', 5335)
('E83', 5316)
('Z99', 5282)
('D63', 5163)
('M75', 5106)
('F10', 5106)
('H40', 5093)
('K80', 5089)
('Z87', 5057)
('Z96', 5018)
('I69', 4976)
('N20', 4868)
('L60', 4813)
('Z98', 4744)
('J18', 4739)
('F20', 4725)
('F31', 4642)
('H35', 4563)
('I73', 4536)
('R09', 4418)
('D69', 4325)
('K59', 4186)
('M16', 4138)
('J06', 4082)
('I13', 4081)
('I87', 4013)
('C61', 4008)
('G40', 3974)
('I63', 3957)
('M06', 3921)
('R30', 3913)
('Z94', 3861)
('R74', 3859)
('R91', 3854)
('R31', 3793)
('Z09', 3770)
('H52', 3725)
('R97', 3673)
('Z47', 3664)
('E29', 3599)
('R55', 3503)
('F25', 3475)
('D68', 3462)
('R20', 3452)
('R80', 3414)
('K64', 3404)
('Z85', 3394)
('N25', 3365)
('I21', 3329)
('Z95', 3328)
('F43', 3316)
('E53', 3280)
('K74', 3271)
('R32', 3270)
('M81', 3236)
('R41', 3219)
('I83', 3218)
('M10', 3204)
('E04', 3199)
('Z03', 3165)
('N95', 3153)
('R39', 3026)
('D12', 3012)
('D72', 3005)
('G93', 2979)
('Z48', 2928)
('G56', 2907)
('S83', 2889)
('Z88', 2863)
('D25', 2808)
('G43', 2774)
('B20', 2756)
('N28', 2728)
('E10', 2724)
('N13', 2703)
('K92', 2697)
('S82', 2681)
('M72', 2656)
('I82', 2618)
('N30', 2617)
('K63', 2591)
('M50', 2566)
('M65', 2562)
('M20', 2542)
('L02', 2511)
('M15', 2508)
('E86', 2502)
('L89', 2502)
('M77', 2489)
('Z91', 2489)
('Z90', 2460)
('G62', 2454)
('K62', 2446)
('I49', 2407)
('L57', 2308)
('L84', 2308)
('R92', 2305)
('F11', 2305)
('R22', 2288)
('E05', 2260)
('R50', 2234)
('R29', 2199)
('J02', 2178)
('J20', 2171)
('I16', 2148)
('M43', 2147)
('K52', 2129)
('J98', 2127)
('M85', 2117)
('N81', 2072)
('M21', 2057)
('S09', 2027)
('R03', 2018)
('N63', 2017)
('C18', 2003)
('L30', 1975)
('N32', 1966)
('H04', 1936)
('L82', 1922)
('N52', 1921)
('C91', 1921)
('I42', 1909)
('M46', 1908)
('D48', 1905)
('C54', 1888)
('R52', 1885)
('L40', 1883)
('I47', 1870)
('H43', 1863)
('R21', 1856)
('K44', 1852)
('J34', 1850)
('N64', 1816)
('R13', 1806)
('J32', 1789)
('K43', 1788)
('Z78', 1786)
('M86', 1781)
('B96', 1781)
('J12', 1778)
('K31', 1776)
('I51', 1766)
('H61', 1762)
('E79', 1752)
('L98', 1750)
('S42', 1748)
('N92', 1725)
('I20', 1721)
('R33', 1706)
('I26', 1698)
('H02', 1626)
('T81', 1621)
('L85', 1590)
('N83', 1585)
('M70', 1580)
('M32', 1570)
('K70', 1560)
('M33', 1551)
('M05', 1548)
('D84', 1544)
('D75', 1538)
('C44', 1524)
('M76', 1521)
('C34', 1514)
('I95', 1511)
('K42', 1511)
('E88', 1508)
('S52', 1508)
('N76', 1503)
('H91', 1499)
('R76', 1493)
('C78', 1480)
('J90', 1471)
('K85', 1464)
('D51', 1460)
('K22', 1446)
('B37', 1443)
('D62', 1439)
('F03', 1427)
('G44', 1422)
('T84', 1418)
('K40', 1407)
('R82', 1388)
('J01', 1387)
('I89', 1368)
('E08', 1363)
('H53', 1358)
('N93', 1356)
('K56', 1351)
('H81', 1343)
('I67', 1334)
('B18', 1315)
('S39', 1302)
('H10', 1299)
('R63', 1295)
('F15', 1291)
('R56', 1289)
('Z45', 1281)
('E07', 1277)
('G45', 1266)
('R93', 1264)
('Z93', 1263)
('J40', 1261)
('Z30', 1260)
('N91', 1254)
('Z02', 1252)
('M13', 1247)
('R25', 1240)
('C22', 1230)
('Z46', 1227)
('I77', 1222)
('M23', 1210)
('I27', 1207)
('Z72', 1194)
('R16', 1188)
('E21', 1178)
('I65', 1177)
('S72', 1175)
('K75', 1161)
('E06', 1154)
('D61', 1152)
('E20', 1150)
('L29', 1145)
('C90', 1144)
('R18', 1144)
('T82', 1140)
('D22', 1138)
('B34', 1132)
('M53', 1122)
('H26', 1120)
('G57', 1112)
('F39', 1104)
('I35', 1099)
('S46', 1091)
('M35', 1071)
('C79', 1070)
('Z80', 1066)
('I34', 1066)
('S43', 1063)
('H90', 1042)
('I71', 1039)
('S92', 1003)
('G20', 1003)
('S01', 994)
('G63', 991)
('G82', 984)
('H93', 980)
('R27', 973)
('F29', 973)
('L91', 972)
('Z59', 970)
('R65', 964)
('N89', 961)
('S22', 951)
('M12', 937)
('G25', 934)
('D47', 933)
('C92', 928)
('S06', 927)
('L72', 920)
('H16', 919)
('Z89', 916)
('L81', 914)
('R59', 907)
('K25', 906)
('S93', 906)
('F51', 897)
('S00', 893)
('D70', 891)
('D49', 890)
('N31', 889)
('R14', 885)
('D17', 877)
('R78', 876)
('L08', 875)
('E13', 872)
('D35', 869)
('I44', 866)
('H11', 866)
('R69', 865)
('G35', 862)
('H92', 862)
('M67', 858)
('N10', 847)
('Z74', 841)
('E89', 841)
('J84', 816)
('F12', 811)
('R87', 809)
('H60', 805)
('N85', 800)
('C64', 796)
('K86', 792)
('C20', 790)
('K35', 790)
('N50', 785)
('N12', 784)
('S62', 781)
('S32', 776)
('C67', 767)
('C73', 764)
('K02', 762)
('A04', 761)
('I15', 759)
('G60', 757)
('S80', 756)
('T78', 747)
('E61', 743)
('J43', 740)
('S91', 738)
('K51', 736)
('N60', 734)
('C77', 733)
('C56', 726)
('R47', 719)
('M96', 718)
('B19', 712)
('L73', 710)
('Z04', 706)
('B02', 704)
('T14', 700)
('J22', 697)
('K83', 696)
('K30', 692)
('Z17', 690)
('I45', 687)
('R04', 683)
('B07', 683)
('G31', 681)
('K72', 680)
('M41', 679)
('C25', 679)
('K05', 677)
('J81', 671)
('S81', 670)
('E16', 669)
('Z28', 663)
('B95', 655)
('H66', 644)
('M94', 640)
('G81', 640)
('S02', 626)
('M22', 621)
('I61', 619)
('Z53', 616)
('G51', 616)
('K08', 611)
('E34', 610)
('K82', 609)
('T85', 608)
('F19', 602)
('S61', 601)
('K81', 597)
('W19', 588)
('L50', 585)
('R40', 577)
('M18', 576)
('T83', 572)
('K91', 562)
('G92', 561)
('F90', 560)
('C83', 557)
('J15', 553)
('S90', 550)
('M60', 550)
('C16', 550)
('I24', 549)
('G90', 548)
('R23', 544)
('N94', 544)
('R01', 543)
('M89', 543)
('H54', 541)
('Z43', 539)
('S31', 536)
('E27', 536)
('S63', 532)
('L65', 532)
('Z92', 528)
('N48', 528)
('N84', 525)
('M1A', 523)
('E44', 522)
('E23', 516)
('M24', 513)
('E56', 513)
('L20', 509)
('S29', 505)
('R77', 501)
('K65', 501)
('K58', 501)
('H57', 492)
('E46', 492)
('K50', 492)
('F13', 487)
('O09', 487)
('H34', 485)
('M71', 483)
('N43', 481)
('D46', 478)
('S16', 477)
('H33', 477)
('Z21', 477)
('D18', 476)
('C53', 472)
('N34', 471)
('K20', 467)
('Z82', 465)
('J10', 464)
('N41', 462)
('D05', 459)
('I31', 457)
('S33', 455)
('R57', 449)
('D89', 446)
('R49', 442)
('Z08', 442)
('I85', 440)
('K04', 438)
('S89', 438)
('B00', 437)
('F23', 432)
('Z32', 431)
('S20', 431)
('F52', 426)
('R44', 421)
('I62', 420)
('G83', 417)
('D23', 412)
('J41', 410)
('S86', 408)
('S69', 407)
('Z3A', 405)
('C85', 405)
('K66', 401)
('L21', 398)
('M31', 396)
('F34', 393)
('C55', 392)
('G30', 392)
('S13', 391)
('I96', 389)
('J69', 389)
('K12', 383)
('A40', 381)
('T86', 378)
('R45', 368)
('S99', 368)
('K60', 367)
('H01', 366)
('E28', 366)
('H69', 365)
('Z83', 362)
('H00', 361)
('G70', 360)
('A53', 357)
('D45', 356)
('R12', 353)
('B97', 353)
('C49', 353)
('J31', 349)
('D83', 346)
('N61', 342)
('Y92', 342)
('I80', 341)
('R62', 340)
('M14', 339)
('R70', 333)
('M45', 331)
('L90', 329)
('S76', 326)
('S60', 323)
('M00', 321)
('T40', 321)
('C43', 319)
('A08', 318)
('G50', 315)
('N99', 312)
('D53', 311)
('L76', 311)
('U09', 308)
('M26', 305)
('D24', 303)
('S30', 302)
('F02', 300)
('G61', 299)
('Z49', 299)
('S19', 298)
('E80', 297)
('D32', 296)
('I46', 296)
('J47', 296)
('L71', 295)
('H65', 294)
('S49', 291)
('Z29', 290)
('E26', 290)
('T43', 290)
('S70', 288)
('N23', 288)
('R89', 286)
('F14', 285)
('T87', 284)
('O10', 282)
('C15', 281)
('E75', 279)
('K13', 278)
('J39', 275)
('E72', 273)
('A09', 273)
('L23', 272)
('C80', 270)
('N49', 269)
('C07', 269)
('M87', 269)
('Z16', 268)
('K11', 268)
('K61', 267)
('N42', 267)
('I72', 265)
('K03', 264)
('H18', 263)
('H44', 262)
('Q66', 262)
('M84', 262)
('J80', 260)
('J11', 259)
('G95', 259)
('E43', 258)
('N80', 253)
('A49', 251)
('C71', 250)
('K73', 248)
('C82', 248)
('G37', 245)
('H47', 244)
('G91', 244)
('E22', 243)
('N73', 243)
('W01', 242)
('N21', 242)
('K26', 241)
('L53', 239)
('R15', 238)
('K27', 237)
('F45', 236)
('F40', 236)
('N19', 235)
('R61', 235)
('T50', 231)
('O24', 229)
('S50', 225)
('Q61', 223)
('T45', 219)
('F99', 219)
('R71', 219)
('N35', 217)
('L70', 216)
('N47', 216)
('J42', 216)
('I60', 213)
('N45', 209)
('Z34', 209)
('J00', 208)
('G58', 207)
('J38', 205)
('M40', 205)
('N04', 204)
('S40', 203)
('I36', 203)
('K46', 202)
('G24', 197)
('D21', 196)
('L25', 194)
('F79', 194)
('D80', 194)
('M80', 193)
('Z97', 190)
('S51', 190)
('N05', 187)
('J33', 187)
('N88', 186)
('F06', 186)
('L68', 186)
('K94', 186)
('J03', 184)
('G54', 182)
('J91', 181)
('G80', 180)
('D59', 180)
('C88', 180)
('Z41', 179)
('S23', 179)
('K90', 178)
('C21', 178)
('S79', 176)
('N87', 173)
('L28', 173)
('C81', 173)
('E63', 172)
('S05', 171)
('E01', 167)
('O99', 167)
('N90', 166)
('L11', 165)
('J95', 164)
('S21', 163)
('I08', 162)
('A60', 161)
('Z15', 161)
('F01', 160)
('T80', 160)
('M27', 160)
('D86', 158)
('H05', 157)
('F22', 157)
('R43', 157)
('F50', 156)
('K71', 154)
('Z63', 153)
('Z56', 153)
('J93', 150)
('N02', 150)
('I97', 149)
('W18', 148)
('Z60', 148)
('C57', 147)
('R90', 147)
('B36', 146)
('D52', 146)
('K55', 145)
('J94', 144)
('F42', 144)
('D41', 143)
('N62', 142)
('G72', 140)
('D13', 139)
('T24', 139)
('D16', 139)
('R58', 137)
('S59', 137)
('C23', 136)
('Z81', 136)
('B86', 135)
('I78', 134)
('F91', 134)
('Z22', 133)
('E74', 132)
('O34', 129)
('C31', 126)
('S71', 125)
('L93', 125)
('Y93', 124)
('D57', 123)
('L63', 123)
('I79', 122)
('S27', 122)
('T63', 121)
('M11', 121)
('I99', 120)
('T46', 120)
('R85', 120)
('Z77', 120)
('E65', 120)
('G64', 120)
('O35', 120)
('F05', 119)
('Z73', 117)
('D31', 117)
('D10', 117)
('M34', 117)
('D39', 116)
('L80', 115)
('S36', 112)
('I33', 112)
('I38', 112)
('Q05', 112)
('Q21', 111)
('H20', 111)
('H49', 110)
('F60', 109)
('L05', 109)
('J35', 109)
('F44', 109)
('S66', 109)
('D04', 108)
('C46', 108)
('N65', 107)
('H31', 107)
('I66', 107)
('D36', 106)
('A63', 106)
('S73', 106)
('T38', 106)
('S53', 106)
('Z65', 104)
('C7A', 103)
('H72', 102)
('R17', 101)
('I05', 99)
('I81', 99)
('G04', 98)
('D27', 98)
('A64', 98)
('E02', 97)
('I74', 97)
('B44', 97)
('S96', 96)
('C19', 95)
('S12', 95)
('L83', 94)
('C08', 94)
('I86', 93)
('D3A', 93)
('T88', 92)
('T42', 92)
('J09', 92)
('W57', 92)
('C7B', 91)
('C75', 90)
('Q28', 90)
('C41', 90)
('L66', 89)
('I07', 88)
('A54', 88)
('S98', 88)
('B17', 88)
('J04', 87)
('K95', 87)
('L10', 87)
('B45', 86)
('L92', 84)
('O26', 84)
('K14', 83)
('D33', 83)
('X50', 83)
('O20', 82)
('K28', 82)
('H17', 80)
('A02', 80)
('S67', 79)
('N82', 79)
('T79', 79)
('M66', 79)
('K06', 79)
('G99', 79)
('T18', 78)
('Z42', 78)
('H21', 78)
('D73', 78)
('C32', 77)
('N70', 77)
('R46', 76)
('S41', 76)
('D37', 76)
('C52', 76)
('F98', 74)
('L24', 74)
('E51', 74)
('A05', 74)
('R81', 74)
('C10', 74)
('F09', 73)
('B99', 73)
('R54', 72)
('B25', 72)
('H50', 71)
('A48', 71)
('Z66', 71)
('F59', 70)
('E24', 70)
('N75', 69)
('D58', 69)
('T22', 69)
('F70', 68)
('A59', 68)
('C76', 68)
('A15', 68)
('M95', 67)
('Z33', 67)
('R36', 67)
('D11', 67)
('H59', 66)
('H27', 66)
('F07', 66)
('T21', 66)
('Y84', 66)
('T16', 65)
('X58', 65)
('G97', 65)
('E67', 64)
('N15', 64)
('D56', 63)
('Q24', 63)
('Q82', 63)
('D34', 63)
('S14', 63)
('C66', 63)
('A88', 62)
('X32', 62)
('B15', 62)
('F63', 61)
('T39', 60)
('N26', 60)
('T07', 60)
('E85', 60)
('Y90', 59)
('Y81', 59)
('B38', 58)
('D44', 58)
('N11', 58)
('W10', 57)
('E09', 57)
('Z39', 57)
('H83', 56)
('N36', 56)
('T25', 56)
('E25', 55)
('I43', 55)
('N77', 55)
('M93', 55)
('F84', 55)
('L59', 55)
('L27', 54)
('T56', 53)
('G46', 53)
('G96', 53)
('R64', 53)
('W22', 52)
('T51', 52)
('Y83', 52)
('S88', 52)
('C95', 52)
('E64', 51)
('D66', 51)
('C62', 51)
('I28', 50)
('Z37', 50)
('F30', 50)
('T30', 50)
('O23', 50)
('N44', 49)
('Q25', 49)
('D03', 49)
('H46', 48)
('Q44', 48)
('G21', 48)
('K00', 48)
('A52', 48)
('R34', 48)
('B91', 47)
('T65', 47)
('K38', 47)
('T15', 46)
('N97', 46)
('H62', 46)
('Z14', 45)
('H70', 45)
('A56', 44)
('L64', 44)
('Z36', 44)
('L94', 44)
('M97', 44)
('I88', 44)
('Q87', 43)
('L01', 42)
('T31', 42)
('N72', 42)
('D07', 42)
('T67', 41)
('E71', 41)
('K45', 41)
('D09', 41)
('F69', 41)
('D14', 41)
('N08', 40)
('Y71', 40)
('M02', 40)
('A74', 40)
('D28', 39)
('C24', 39)
('A96', 39)
('J21', 39)
('C72', 39)
('Q27', 38)
('L56', 38)
('G71', 38)
('C48', 38)
('M01', 38)
('Z84', 37)
('H15', 37)
('J16', 36)
('Z64', 36)
('Q76', 36)
('B48', 36)
('Q23', 36)
('M49', 35)
('Q63', 34)
('S37', 34)
('J70', 34)
('M07', 34)
('M08', 34)
('Y99', 33)
('B33', 33)
('E73', 33)
('G06', 33)
('S24', 33)
('C11', 33)
('N46', 33)
('T17', 33)
('Z75', 32)
('T23', 32)
('W54', 32)
('Z31', 32)
('D81', 32)
('T19', 31)
('A07', 31)
('B69', 31)
('N53', 31)
('C51', 31)
('C01', 31)
('F48', 30)
('K37', 30)
('W26', 30)
('B30', 30)
('T20', 30)
('D42', 29)
('D30', 29)
('I30', 29)
('H51', 28)
('H28', 28)
('H42', 28)
('W55', 28)
('Z18', 28)
('I09', 28)
('O11', 28)
('M92', 28)
('H55', 27)
('I37', 27)
('O13', 27)
('J14', 27)
('M42', 27)
('Q84', 26)
('Z70', 26)
('D06', 26)
('J36', 26)
('O36', 26)
('Z52', 26)
('S35', 26)
('C02', 26)
('H74', 25)
('D55', 25)
('D15', 25)
('F28', 25)
('Z55', 25)
('A18', 25)
('O16', 25)
('S44', 25)
('D40', 25)
('B16', 24)
('Q78', 24)
('N03', 24)
('W07', 24)
('Z67', 24)
('A87', 24)
('O42', 24)
('L12', 24)
('W11', 24)
('Q99', 24)
('I00', 23)
('J86', 23)
('Q43', 23)
('E59', 23)
('L87', 23)
('K68', 23)
('F80', 22)
('O80', 22)
('T73', 22)
('O14', 22)
('Q45', 22)
('T44', 22)
('O90', 22)
('I75', 22)
('S10', 21)
('K09', 21)
('F64', 21)
('L74', 21)
('S34', 21)
('D29', 21)
('O46', 21)
('E50', 20)
('A46', 20)
('G98', 20)
('Q83', 20)
('Q55', 20)
('C17', 20)
('Q85', 19)
('H68', 19)
('E00', 19)
('F71', 19)
('F73', 19)
('M88', 19)
('L04', 19)
('Q38', 19)
('J99', 19)
('Q51', 19)
('L43', 19)
('L88', 19)
('O03', 19)
('M91', 19)
('O30', 19)
('Q68', 18)
('A69', 18)
('Q64', 18)
('G14', 18)
('G03', 18)
('N33', 18)
('M61', 18)
('R84', 18)
('O47', 18)
('F93', 18)
('C60', 18)
('C84', 17)
('C69', 17)
('H71', 17)
('D78', 17)
('J67', 17)
('M04', 16)
('J61', 16)
('F95', 16)
('R37', 16)
('B78', 16)
('Z62', 16)
('C4A', 16)
('T59', 16)
('C09', 16)
('L95', 16)
('T36', 15)
('A80', 15)
('N00', 15)
('L42', 15)
('G11', 15)
('D65', 15)
('B57', 15)
('C70', 15)
('R83', 14)
('J37', 14)
('T75', 14)
('S03', 14)
('N29', 14)
('S56', 14)
('W06', 14)
('L26', 14)
('J85', 14)
('T57', 13)
('S78', 13)
('H73', 13)
('B80', 13)
('J92', 13)
('B01', 13)
('Q75', 13)
('C37', 13)
('T48', 13)
('S85', 13)
('J13', 13)
('S54', 13)
('C94', 13)
('F16', 13)
('E77', 13)
('O48', 12)
('K41', 12)
('B89', 12)
('L55', 12)
('J82', 12)
('B85', 12)
('L13', 12)
('E60', 12)
('M83', 12)
('B87', 12)
('J66', 12)
('D60', 11)
('T68', 11)
('B49', 11)
('G08', 11)
('W45', 11)
('O98', 11)
('O86', 11)
('Q67', 11)
('M30', 11)
('N98', 11)
('Q74', 11)
('A19', 11)
('Q04', 10)
('W20', 10)
('A92', 10)
('W23', 10)
('Q90', 10)
('G12', 10)
('W17', 10)
('Q14', 10)
('Q98', 10)
('H80', 10)
('R48', 10)
('Q72', 10)
('E70', 10)
('S04', 10)
('H82', 10)
('O02', 10)
('G36', 9)
('S84', 9)
('B88', 9)
('W21', 9)
('Q40', 9)
('Z57', 9)
('G23', 9)
('Q10', 9)
('M90', 9)
('C14', 9)
('Y76', 9)
('C74', 9)
('C06', 8)
('B27', 8)
('W29', 8)
('A81', 8)
('I22', 8)
('Z40', 8)
('C68', 8)
('N14', 8)
('O82', 8)
('T69', 8)
('B40', 8)
('D19', 8)
('O69', 8)
('S64', 8)
('F24', 8)
('I76', 8)
('B08', 8)
('A20', 8)
('O71', 8)
('T70', 7)
('H30', 7)
('F21', 7)
('Q79', 7)
('D43', 7)
('O32', 7)
('L51', 7)
('Q65', 7)
('R86', 7)
('H36', 7)
('O62', 7)
('D38', 7)
('B59', 7)
('O21', 7)
('Z19', 7)
('F81', 6)
('X10', 6)
('X31', 6)
('H95', 6)
('S87', 6)
('Q62', 6)
('E58', 6)
('W25', 6)
('D71', 6)
('O92', 6)
('S28', 6)
('780', 6)
('Q26', 6)
('T76', 6)
('A51', 6)
('D74', 6)
('J68', 5)
('W46', 5)
('A31', 5)
('F54', 5)
('L54', 5)
('Q30', 5)
('B94', 5)
('T49', 5)
('T66', 5)
('W27', 5)
('I40', 5)
('T47', 5)
('B74', 5)
('B82', 4)
('X12', 4)
('L52', 4)
('T62', 4)
('L44', 4)
('Q39', 4)
('B04', 4)
('Q50', 4)
('Q77', 4)
('C65', 4)
('A37', 4)
('S26', 4)
('N01', 4)
('A42', 4)
('R75', 4)
('D26', 4)
('K36', 4)
('A00', 4)
('O44', 4)
('B58', 4)
('S97', 4)
('E45', 4)
('A50', 4)
('S55', 4)
('T41', 4)
('G00', 4)
('Q60', 3)
('L99', 3)
('Q70', 3)
('N07', 3)
('W50', 3)
('F55', 3)
('L67', 3)
('O76', 3)
('F88', 3)
('O28', 3)
('H67', 3)
('D00', 3)
('S45', 3)
('W00', 3)
('C30', 3)
('X00', 3)
('L86', 3)
('O70', 3)
('N27', 3)
('D20', 2)
('N71', 2)
('D82', 2)
('O60', 2)
('O40', 2)
('W08', 2)
('Y73', 2)
('W05', 2)
('O22', 2)
('B09', 2)
('X19', 2)
('Q33', 2)
('F72', 2)
('B60', 2)
('T61', 2)
('I23', 2)
('A32', 2)
('L41', 2)
('Q11', 2)
('S57', 2)
('A66', 2)
('T27', 2)
('S11', 2)
('A90', 2)
('I52', 2)
('E40', 2)
('Q35', 2)
('I5A', 2)
('O72', 2)
('S47', 2)
('T54', 2)
('C38', 2)
('Q31', 2)
('C03', 2)
('M63', 2)
('S68', 2)
('O31', 2)
('O01', 2)
('Q13', 2)
('A83', 2)
('S07', 2)
('B73', 2)
('D01', 2)
('Q93', 2)
('E54', 2)
('J05', 2)
('I06', 2)
('G59', 1)
('O73', 1)
('Q80', 1)
('A78', 1)
('A01', 1)
('A43', 1)
('F78', 1)
('C13', 1)
('Y28', 1)
('T74', 1)
('O68', 1)
('W31', 1)
('Q20', 1)
('Q54', 1)
('W51', 1)
('Q89', 1)
('Q15', 1)
('N06', 1)
('T37', 1)
('B77', 1)
('T58', 1)
('W34', 1)
('Q12', 1)
('K87', 1)
('Q22', 1)
('X39', 1)
('Y95', 1)
('B10', 1)
('A06', 1)
('X04', 1)
('F66', 1)
('W13', 1)
('F89', 1)
('F53', 1)
('L75', 1)
('J17', 1)
('F18', 1)
('W52', 1)
('W89', 1)

### Insights from raw medical records
### Top 10

E11  Type 2 diabetes mellitus

I10  Essential (primary) hypertension

E78  Disorders of lipoprotein metabolism and other lipidemias

Z00  Encounter for general examination without complaint, suspected or reported diagnosis

E66  Overweight and obesity

Z68  Body mass index [BMI]

M25  Other joint disorder, not elsewhere classified

M54  Dorsalgia

Z12  Encounter for screening for malignant neoplasms

N18  Chronic kidney disease (CKD)


- The top 10 diagnosis from the raw medical dataset coincides with the main use of Ozempic, Type 2 diabetes, hypertension(lowering blood pressure), Overweight and BMI diagnosis.

- Some other top diagnosis includes CKD, Dorsolgia general examinations.

In [11]:
# Merge the datasets on jouney_id
merged_raw_df = pd.merge(raw_df, raw_df2, on='journey_id', how='inner')

In [5]:
# Check the merged data
merged_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29969378 entries, 0 to 29969377
Data columns (total 81 columns):
 #   Column                         Dtype
---  ------                         -----
 0   journey_id                     object
 1   episode_id                     object
 2   visit_id                       object
 3   encounter_id                   object
 4   claim_date                     object
 5   patient_state_x                object
 6   patient_short_zip              float64
 7   patient_age                    float64
 8   patient_gender_x               object
 9   place_of_service_x             object
 10  visit_type                     object
 11  payor                          object
 12  payor_channel                  object
 13  ref_npi                        float64
 14  hcp_npi                        float64
 15  hcp_taxonomy                   object
 16  hcp_specialty                  object
 17  hco_npi                        float64
 18  hcp_npi_list                   object
 19  hco_npi_list                   object
 20  diag_list                      object
 21  diag_1                         object
 22  diag_2                         object
 23  diag_3                         object
 24  diag_4                         object
 25  diag_5                         object
 26  rev_center_code                float64
 27  rev_center_units               float64
 28  proc_code                      object
 29  proc_modifier                  object
 30  proc_units                     float64
 31  line_charge                    float64
 32  claim_charge                   float64
 33  smart_allowed                  float64
 34  cohort_id                      float64
 35  claim_id                       object
 36  patient_gender_y               object
 37  patient_state_y                object
 38  patient_zip                    float64
 39  patient_dob                    object
 40  pharmacy_npi                   float64
 41  pharmacist_npi                 float64
 42  prescriber_npi                 object
 43  primary_care_npi               object
 44  group_id                       object
 45  date_of_service                object
 46  date_authorized                object
 47  transaction_type               object
 48  date_prescription_written      object
 49  ndc11                          float64
 50  ndc11_original                 float64
 51  number_of_refills_authorized   float64
 52  diagnosis_code                 object
 53  diagnosis_code_type            float64
 54  quantity_prescribed_original   float64
 55  quantity_dispensed             float64
 56  place_of_service_y             float64
 57  is_service                     object
 58  level_of_service               float64
 59  fill_number                    float64
 60  days_supply                    float64
 61  unit_of_measure                object
 62  daw_code                       object
 63  prior_authorization_type_code  float64
 64  is_compound_drug               object
 65  coupon_type                    float64
 66  coupon_value_amount            float64
 67  pharmacy_submitted_cost        float64
 68  patient_pay                    float64
 69  copay_coinsurance              float64
 70  pcn                            object
 71  bin                            float64
 72  plan_pay                       float64
 73  reject_code_1                  object
 74  reject_code_3                  object
 75  reject_code_4                  object
 76  reject_code_5                  object
 77  ndc                            float64
 78  active                         object
 79  start_date                     float64
 80  end_date                       float64
dtypes: float64(36), object(45)
memory usage: 18.1+ GB